<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.frumentiusdaneswara.akb">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logoakbcompact"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logoakbcompact"
        android:supportsRtl="true"
        android:theme="@style/Theme.Akb"
        android:usesCleartextTraffic="true">
<!--        <activity android:name=".Adapters.AdapterDetailOrder"></activity>-->
        <activity android:name=".ScanActivity" />
        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
    </application>

</manifest>